
body{
  margin: 0px auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

body.light{
  background-color: #fff;
  }

body.dark{
  background-color: #000;
}

/* CART************************************************************************ */
.cart input{
  margin-right: 10px;
}

.cart .add{
  background-color: green;
  margin-top: 10px;
}

.cart .delete{
  background-color: red;
  margin-left: 20px;
}

.cart .update{
  background-color: yellow;
  margin-left: 20px;
}

.cart .total{
  background-color: blue;
  margin-top: 30px;
}

.cart span{
  margin: 0px 10px;
}

.cart .infor {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 5px 0px;
}

.cart li{
  display: flex;
  justify-content: space-between;
  margin: 5px 0px;
}

.cart h1{
  display: flex;
  justify-content: center;
}

/* AUTH*************************************************************************** */
.auth .loginButton{
  background-color: green;
  margin-left: 10px;
}
.auth input{
  padding: 10px 5px;
  border-radius: 10px;
  border:  1px solid black;

}

.auth .logoutButton{
  background-color: #ccc;
}

.auth .error{
  font-size:  12px;
  color: red;
  margin-top: 10px;
}

.auth h1{
  display: flex;
  justify-content: center;
}


/* async_Thunk******************************************************************************************** */
.async_Thunk .loading{
  color: rgb(122, 122, 37);
}

.async_Thunk .succeeded{
  color: green;
}

.async_Thunk .error{
  color: red;
}

.async_Thunk li{
  margin: 20px 0px;
  list-style-type: none;
}

/* COUNTER ADVANCED*****************************************************************************************8888 */
.counter_Advanced input {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid black;
}

.counter_Advanced .increase{
  background-color: green;
  margin-left: 10px;
}

.counter_Advanced .reset{
  background-color:  #ccc;
  margin-left:  10px;
}

.counter_Advanced span{
  color: red;
}

/* BMI ************************************************************************************************ */

.BMI h1{
    display: flex;
    justify-content: center;
}

.BMI div{
  display: flex;
  justify-content: center;
  margin: 20px 0px;
  align-items: center;
}

.BMI span{
  color: red;
}

.BMI button{
  background-color: green;
  margin-right: 20px;
}

.BMI .reset {
  background-color: #ccc;
}

.BMI input{
  margin-left: 20px;
}

